body {
    width: 350px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 16px;
    margin-bottom: 10px;
}
label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}
input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}
textarea {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}

.bobby-checkbox {
    accent-color: #1d4ed8; /* warna biru */
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    border-radius: 4px;
}
